div.DD{
  #reader-text{
    div.v-card.v-sheet.theme--dark{
      background-image: url('./assets/paper_texture_01.png');
      background-repeat: repeat;
      background-color: none;
      .v-card__text{
        color:#333;
        h1, h2{
          font-family: Smythe;
        }
        h1{
          color:crimson;
          font-size: 36px;
          text-transform: uppercase;
          border-bottom: #666 solid 1px;
          padding-bottom: 4px;
        }
        h2 {
          color: RGBA(179,33,70, 1);
          font-size: 28px;
        }
        h3, h4 {
          color: #333;
          font-weight: 600;
        }
        b, strong{
            color: black;
            font-weight: 600;
        }
      }
      header.v-sheet.theme--dark{
        background-color: RGB(0,0,0, 0.7)
      }
    }
  }
}