#app.theme--dark .DD,
#app.theme--light .DD{
  div.v-card.v-sheet{
    h1, h2 {
     font-family: modesto-condensed, Smythe, serif;
     font-weight: 400;
     font-style: normal;
     color: 	lightblue;
     a {
       text-decoration: none;
     }
    }
    h1 {
      border-bottom: solid 1px #666;
      padding-bottom: 2px;
    }
    .sidebar ul+h1{
      margin-top: 8px;
    }
  }
  div.tabtitle{
    h1.topic,
    h1.subtopic {
      font-family: modesto-condensed, Smythe, serif;
    }
    h1.subtopic{
      font-size: 20px;
      line-height: 20px;
      margin:0;
    }
    h1.topic{
      font-size:34px;
      line-height: 34px;
      margin: 0;
    }
  }
}