
div.Hood{
  h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    // color: darkgreen;
  }
  font-family: 'Lora', serif;
  color: #373737;
}
.theme--dark.Hood h1.pagetitle,
.theme--dark.Hood h1.sitelink {
  font-weight: 600;
}
#app a.theme--dark.v-sheet.Hood {
  background-color: rgb(10, 85, 49);
  div.sitecard .v-card__title {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: normal;
    color: 	rgba(255, 251, 0, 1)
  }
  .sitecard-theme-poster-blur{
    background: linear-gradient(110deg, rgb(10, 85, 49) 10%, rgba(255, 251, 0, 0.1) 100%);
  }
  .v-avatar {
    box-shadow: 0px 0px 16px 0px rgb(8, 66, 100);
  }
}
