
div.Quick{
  h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #424242;
  }
  div.page-container{
    color: white;
    /* background-image: url('./assets/quick-poster.jpg');
    background-size: 100% auto;
    padding-top: 200px; */
  }
}
div#app.theme--dark.v-application{
  background-color: #111;
}
div#cover.Quick{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./assets/quick-poster.jpg');
  background-size: 100% auto;
}