
div.wikipage{
  div.attachment img{
    max-width: 100%;
  }
  div.attachment-wide{
    margin: 0 -12px;
    img {
      max-height: 100%;
      width: 100%;
    }
  }
  div.attachment-sm{
    max-width: 25%;
    max-height: 120px;
    img {
      max-width: 100%;
      max-height: 120px;
    }
  }
  div.attachment-xs.attachment img{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
  }
  div.attachment-xs.attachment{
    display: inline-block;
    height: 42px;
    width: 42px;
    margin: 8px;
  }

  
  table.statblock {
    td, th {
      border: solid 1px #666;
      width: 44px;
      text-align: center;
      margin: 0;
      padding: 4px;
      font-size: 18px;
      line-height: 22px;
    }
    th {
      background-color: RGBA(255,255,255,0.1);
    }
    td {
      background-color: RGBA(0,0,0,0.5);
    }
    margin-bottom: 16px;
  }
  table.statblock.box {
    float:left;
    // background-color: RGBA(0,0,0,0.5);
  }
  table.statblock.box+table.statblock.box{
    margin-left:16px;
  }
}


div#app.theme--dark.v-application{
  background-color: #232323;
}
.v-card__title a {
  text-decoration: none;
}

div.v-card.v-sheet.theme--dark table,
div.v-card.v-sheet.theme--dark .wikipage ul{
  margin-bottom: 16px;
  padding-bottom: 8px;
}
div.v-card.v-sheet.theme--dark .sidebar .wikipage ul{
  margin-bottom: 0;
  padding-bottom: 0;
}
span.ndn{
  display: inline-block;
  height: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
/**
 *
 */
 #app .theme--dark.v-sheet {
  background-color: #333;
 }
/**
 * Navigation bar
 */
 #app .theme--dark.v-navigation-drawer,
 #app .theme--dark.v-navigation-drawer .v-sheet {
   background-color: #222;
 }

.theme--dark {
  h1.sitelink{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
  h1.pagetitle{
    font-size:28px;
    font-weight: 300;
  }
}
 


div.v-card.v-sheet.theme--dark .wikipage {
  hr{
    border: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(100,100,100,0.5) 0%, rgba(100,100,100,1) 50%, rgba(100,100,100,0.5) 100%);
  }
  table {
    display: block;
    overflow-x: auto;
  }
  
  table.statblock{
    border-collapse: collapse;
    td, th {
      border-width: 0px;
    }
    td+td{
      border-left-width: 1px;
    }
    margin-right: 16px;
  }

  table.border-1 {
    border-collapse: collapse;
    td, th {
    border: solid 1px #666;
    margin: 0;
    padding: 4px;
    }
  }

  table.fullwidth{
    table-layout: fixed;
    width: 100%;
    margin: 1px 1px;
    padding: 1px;
    overflow: hidden;
    th, td{
      padding: 4px;
      margin: 0;
      // An ugly way to force the table to rend the cells same width
      width: 1%;
    }
  }

  // Eliminate extra spacing between non-space-needing elements
  p+ul,
  p+table{
    margin-top: -16px;
  }

  // An info box
  div.infodocpart,
  div.legend{
    // At the bottom of the info-box, we do not need bottom padding or
    // margin for these elements
    p:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  div.legend{
    p, ul, li, td, th {
      font-size: 10px;
    }
  }

  th {
    background-color: #666;
    font-weight: 500;
    color: white;
  }

  td.alignCenter{
    text-align: center;
  }
}

#app.theme--dark,
#app.theme--light{
  
  font-family: Roboto, serif;

  h1 {
    font-weight: 300;
  }
  h1.pageTitleLight{
    color: white;
    text-shadow: 0px 0px 22px rgba(0,0,0,1);
  }
  h1.pageTitleDark{
    color: Black;
    text-shadow: 0px 0px 1px rgba(170,230,255,0.2);
  }
  h1.pageTitleLightBlue{
    color: #0091EA;
    text-shadow: 0px 0px 22px rgba(0,0,0,1);
  }
  h1.pageTitleDarkGreen{
    color: black;
    text-shadow: 0px 0px 10px rgba(200,200,255,1);
    -webkit-text-stroke: 1px darkgreen;
    font-weight: 900;
  }
  .pageTitleLight a{
    color: white;
    text-shadow: 0px 0px 8px rgba(0,0,0,1);
  }
  .pageTitleDark a{
    color: Black;
    text-shadow: 0px 0px 1px rgba(170,230,255,0.2);
  }
  // Rended page styles by WikiText.vue
  div.wikipage{
    h1, h2, h3, h4 {
      font-weight: 400;
      margin-bottom: 16px;
      margin-top: 8px;
      clear:both;
      line-height: 1em;
      a {
        text-decoration: none;
      }
    }
    p, li, td, th {
      font-size: 14px;
    }
    ul, ol, table {
      margin-bottom: 16px;
    }
    div.code {
      font-family: Roboto Mono, Lucida Console, monospace;
      font-size: 12px;
      padding: 8px;
      background-color: RGBA(100,100,100,0.2);
      br:last-child{
        display: none;
      }
    }
  }
  div.sidebar div.wikipage{
    h1,h2,h3,h4{
      margin:0;
      padding: 0;
      margin-bottom: 4px;
    }
    ul+h1{
      margin-top: 8px;
    }
  }
}
#app.theme--dark{
  b{
    color: white;
  }
}
#app.theme--light{
  b{
    color: black;
  }
  #sitelogo{
    background-color: #039be5;
    border-radius: 50%;
  }
}

.sitecard-theme-poster {
  background-image: url('./assets/skald-poster.svg');
  background-position: right top;
  background-size: cover;
  height: 114px;
  width: 75%;
  position: absolute;
  top:0;
  right:0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.sitecard-theme-poster-blur{
  background: linear-gradient(90deg, rgba(51,51,51,1) 25%, rgba(51,51,51,0) 100%);
  height: 114px;
  width: 75%;
  position: absolute;
  top:0;
  right:0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.sitecard .v-avatar {
  box-shadow: 0px 0px 16px 0px rgba (0, 11, 23, 1);
}

@import './skald-sidebar.scss';
