
div.wikipage{
  h1, h2, h3, h4 {
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: 8px;
  }
  font-family: Roboto, serif;
}
div.site-frontpage {
  padding-top:200px;
}
div#cover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./assets/skald-poster.svg');
  background-size: 100% auto;
}
div#app.theme--dark.v-application{
  background-color: #232323;
}
.v-card__title a {
  text-decoration: none;
}