
h1 {
  font-weight: 300;
}
h1#sitetitle {
  color: white;
  padding-bottom:32px;
}
div.wikipage{
  h1, h2, h3, h4 {
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: 8px;
    color: white;
  }

  font-family: Roboto, serif;

  ul, ol {
    margin-bottom: 16px;
  }
}
/* div.site-frontpage {
  /* * /
} */
div#cover{
  position: absolute;
  width: 100%;
  height: 1080px;
  background-image: url('./assets/skald-poster.svg');
  background-size: cover; 
}
div#cover-image{
  position: absolute;
  width: 100%;
  min-height: 200px;
  bottom: 0;
  // background-image: url('./assets/site-shader.svg');
  background: linear-gradient(0deg, rgba(35,35,35,1) 0%, rgba(35,35,35,0) 100%);
}
div#app.theme--dark.v-application{
  background-color: #232323;
}
.v-card__title a {
  text-decoration: none;
}